bot:
  token:
  description: Movie night bot
  playing status:


# Settings used if server settings aren't specified
default server settings:
  prefix:
    - "!"
  moderator role: Moderator

# API Keys
api:
  omdb: